# Visual Studio
.vs/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# ASP.NET / .NET
appsettings.Development.json
*.db
*.sqlite
*.sqlite3

# Rider / JetBrains
.idea/

# VS Code
.vscode/

# Logs
*.log

# NuGet
*.nupkg
packages/
.nuget/

# OS files
.DS_Store
Thumbs.db